<h2>Contact Me</h2>
<p>
	<strong>Email: </strong><italic>GurvirCheema@hotmail.com</italic>
	<p>You can follow me on social websites</p>
	<ul>
		<li><%= link_to "Twitter", "https://twitter.com/gurvircheema", target: "_blank" %></li>
		<li><%= link_to "Google+", "https://plus.google.com/u/0/109024949101610448575/posts", target: "_blank" %></li>
		<li><%= link_to "Facebook", "https://www.facebook.com/profile.php?id=100006636465633", target: "_blank" , class: "icon icon-facebook"%></li>
	</ul>
</p>