<div class="text-center jumbotron">
	
	<h1>Managing Expenses just got easier</h1>
	<p class="lead">It take literally less than 2 minutes and you start keeping track of money.</p>
</div>
<div class="row">
	<div class="col-md-4">
	<h2 class="text-center">Simple Interface</h2>
	<p>you can keep track of each expense with a click of few buttons</p>
	</div>
	<div class="col-md-4">
		<h2 class="text-center">Browse by category or month</h2>
		<p>Now you can browse your expenses either by category or by date, so that you could keep track of every aspect of your expenditures</p>
	</div>
	<div class="col-md-4">
		<h2 class="text-center">Privacy</h2>
		<p>We respect data privacy and provides data protection for each individual</p>
	</div>
</div>

<hr class="featurette-divider">

<p class="lead">Features coming soon:</p>
<ul>
	<li>View by date</li>
	<li>View by categories</li>
	<li>external links</li>
	<li>Google adsense</li>
	<li>Geolocation (possible) </li>
</ul>